@inject Context context

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VeterinaryPassport</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VeterinaryPassport.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand link-color" asp-controller="Passport" asp-action="PassportRead">Главная</a>
                <a class="nav-link link-color" asp-controller="Vet" asp-action="VetRead">Ветеринары</a>
                <a class="nav-link link-color" asp-controller="Owner" asp-action="OwnerRead">Владельцы</a>
            </div>
            <div class="container-fluid2">
                @{
                    var vet = context.Vets.FirstOrDefault(v => v.Login == User.Identity.Name);
                    if (vet != null)
                    {
                        ViewData["Doc"] = User.Identity.Name == null ? Html.ActionLink("Войти", "Login", "Account", null, htmlAttributes: new { @class = "header-b" }) : "Пользователь " + vet?.Name + " " + vet?.Patronymic;
                    }
                    else
                    {
                        ViewData["Doc"] = User.Identity.Name == null ? Html.ActionLink("Войти", "Login", "Account", null, htmlAttributes: new { @class = "header-b" }) : "Пользователь " + User.Identity.Name;
                    }
                }
                <p class="header-a">@ViewData["Doc"] </p>
                @*Показать кнопку выход если человек авторизовался*@
                @if (ViewData["Doc"].GetType() == typeof(string))
                {
                    <a asp-controller="Account" asp-action="Lagout" class="header-a">
                        <button class="exit-button">
                            Выход
                        </button>
                    </a>
                }
            </div>
        </nav>
    </header>
    <div class="container main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer-main footer text-muted">
        <div class="container footer">
            &copy; 2022 - VeterinaryPassport
        </div>
    </footer>

</body>
</html>
