body {
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    background-color: darkslategray;
}

body > header > nav > div.container-fluid > a.navbar-brand {
    color: #D4AC0D;
}

.nav-link {
    color: white;
}

a.navbar-brand.link-color:hover {
    color: darkgoldenrod;
    cursor: pointer;
    line-height: 1;
    text-decoration: underline;
}

a.nav-link.link-color:hover {
    color: white;
    cursor: pointer;
    line-height: 1;
    text-decoration: underline;
}

.container-fluid {
    display: flex;
    margin: 0 100px 0 0;
    width: 25%;
}

.container-fluid2 {
    display: flex;
    margin: 0 0 0 45%;
}

.header-a {
    display: flex;
    align-items: center;
    margin: 0 30px 0 10px;
    width: 150px;
    text-decoration: none;
    color: white;
}

.exit-button {
    height: 30px;
    width: 130px;
    border: thin;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #6c757d;
    border-radius: 0.25rem;
}

    .exit-button:hover {
        transition: ease-out 0.3s;
        transform: translateY(-1px);
        background-color: indianred;
    }

.footer {
    display: flex;
    justify-content: center;
    color: white;
}

.footer-main {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: darkslategray;
    color: white;
}

/*--------------------------PassportRead------------------------------------------*/

.surname-box {
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    width: 60%;
}

.search-input {
    height: 36px;
}

.create-btn {
    margin: 25px 0 25px 0;
    background-color: cadetblue;
    color: white;
}

.field-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border: none;
    margin-bottom: 40px;
}

.field-btn {
    margin: 0 10px 0 10px;
}


/*Passport Read-------------------------------------------------------*/

.pet-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #767676;
    object-fit: cover;
}

td.owner-name {
    line-height: 200px;
}

.main-table-row:nth-child(odd) {
    background-color: #f2f2f2
}

.pet-name-under-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Passport Read-------------------------------------------------------*/

.details-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.pet-details {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.pet-details-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 40%
}

.details-title {
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0 20px 0;
}

.pet-img-details {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid #767676;
    object-fit: cover;
    margin: 0 20px 15px 0;
}

/*Passport Edit-------------------------------------------------------*/

.create-and-edit-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-group {
    width: 800px;
    margin: 20px 0 20px 0;
}

.save-btn-passport-edit {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.control-label {
    font-weight: bold;
}

.create-next-surname-box {
    margin-bottom: 30px;
}