@{
    ViewBag.Title = "Авторизация";
}


@model VeterinaryPassport.Models.Account.LoginModel
    <div class="sign-in-main">
        <h2>Вход</h2>

        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="sign-in-form">
            <div class="sign-in-form-inner">
                 <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <div class=" form-group sign-in-form-group">
                    <label asp-for="Login">Введите логин</label>
                    <input class="sign-in-input" type="text" asp-for="Login" />
                    <span asp-validation-for="Login" />
                </div>
                <div class=" form-group sign-in-form-group">
                    <label asp-for="Password">Введите пароль</label>
                    <input class="sign-in-input" asp-for="Password" />
                    <span asp-validation-for="Password" />
                </div>
                <div class="form-group sign-in-form-group">
                    <input type="submit" value="Вход" class="btn btn-outline-secondary sign-in-btn" />
                </div>
            </div>
            </div>
           
        </form>
    </div>